doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title phloot | Find new music!
    link(rel='stylesheet' href=`/index${min}.css`)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:300')
  body
    .wrapper
      header
        h1.hero phloot
      nav
        .search
          form(method='post')
            input(type='text' placeholder='Add your favourite artists')
      .content
        .list
        .get get recommendation
        .recommendation
          .loading
            .flute
    script(src='/index.js')
